<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>216045576635-uc6sndf4au672c67c7i7j35mjjkrvp8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216045576635-uc6sndf4au672c67c7i7j35mjjkrvp8h</string>
	<key>API_KEY</key>
	<string>AIzaSyDWlx5_a6T5vTJCGGA193HtHTdgITPsxjU</string>
	<key>GCM_SENDER_ID</key>
	<string>216045576635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liliesterw.skripsiDemo</string>
	<key>PROJECT_ID</key>
	<string>skripsidemo-47f06</string>
	<key>STORAGE_BUCKET</key>
	<string>skripsidemo-47f06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:216045576635:ios:5f7be6c45871d39e</string>
	<key>DATABASE_URL</key>
	<string>https://skripsidemo-47f06.firebaseio.com</string>
</dict>
</plist>